.block_creator {
  width: 60%;
  height: 90px;
  margin: auto; 
  padding: auto;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  position: relative;
}

.title_block_creator {
  background-color: rgb(145, 144, 144);
  grid-column: 2;
  border-radius: 20px;
  font-size: 30px;

}

.button_creator {
  grid-column: 3;
  border-radius: 20px;
  font-size: 70px;

  transition-duration: 0.4s;
}
.button_creator:hover {
  background-color: #adcf96; /* Green */
  /* color: rgb(78, 95, 74); */
}

.text_area_form {
  width: 80%;
  height: 100px;
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form_item_block {
  margin: 10px;
}

.submit_button {
  align-items: center;
  text-align: center;
  align-self: center;
}

.div_button {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_error {
  color: rgb(175, 0, 0);
  font-style: bold;
}

.form_wrapper_main {
  margin: 20px;
}